/*
 * @Author: Patrick-Jun 
 * @Date: 2020-09-26 15:07:08 
 * @Last Modified by: Patrick-Jun
 * @Last Modified time: 2021-05-30 16:21:22
 */
/** ------------------------ 全局属性 ---------------------*/
page {
  width: 100%;
  height: 100%;
  background-color: #efeff4;
  overflow-y: scroll;
}
.app-container {
  display: flex;
  flex-direction: column;
}
.app-background-color {
  background-color: #efeff4;
}
.app-safe-dis {
  margin: 0 6px;
}
.app-full {
  width: 100%;
  height: 100%;
}
.van-ellipsis {
  font-size: 40rpx;
}
button:not([size='mini']){
  width: 100% !important;
}
